__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

.ninja_log
.ninja_deps
Makefile
CMakeCache.txt
CMakeFiles/
*.so
*.o
*.obj
*.a
*.lib
*.pyd

.vscode/
.idea/
.env
*.pth

flame_model/assets/flame/FLAME_masks.pkl
flame_model/assets/flame/flame2023.pkl